* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top {
  font-family: "Gentium Book Plus", serif;
  font-weight: 80%;
  font-size: 3rem;
  text-align: center;
  margin-top: 6%;
}
.box{
border:1px solid white ;
margin-left: 18rem;
margin-right: 18rem;
margin-bottom: 10rem;
margin-top: 3rem;
padding-bottom: 25rem;
}
body {
/*  background-image: linear-gradient(120deg, #3d3d5c 0%, #9494b8 100%);*/
background-color: rgb(90, 95, 19);
  color: white;
  font-family: "Gentium Book Plus", serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: white;
}
form button {
  color: white;
  background: #171717;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: white;
  color: #0d0d0e;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: rgb(12, 12, 12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #080808;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: #0b0b0b;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #080808;
  font-family: "Gentium Book Plus", serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #0d0d0d;
  cursor: pointer;
  pointer-events: none;
}
